.env
secrets.tf
*.tfvars
*.tfstate
*.tfstate.backup
*.exe
.terraform/

terraform/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
